.bullet {
    min-height: 50px;
    width: 100%;
    border-radius: 1px;
    border: 1px solid black;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}